.slick-container {
  display: grid;
  grid-template-columns: max-content minmax(100px, 1fr) max-content;
  grid-template-rows: max-content max-content max-content max-content max-content minmax(0, 1fr) max-content max-content;
  grid-template-areas:
    "grouping-panel grouping-panel grouping-panel"
    "header-start header-main header-end"
    "headerrow-start headerrow-main headerrow-end"
    "top-panel top-panel top-panel"
    "viewport-top-start viewport-top-main viewport-top-end"
    "viewport-body-start viewport-body-main viewport-body-end"
    "viewport-bottom-start viewport-bottom-main viewport-bottom-end"
    "footerrow-start footerrow-main footerrow-end";
}

.slick-grouping-panel {
  grid-area: grouping-panel;
}

.slick-header.sg-start {
  grid-area: header-start;
}

.slick-header.sg-main {
  grid-area: header-main;
}

.slick-header.sg-end {
  grid-area: header-end;
}

.slick-headerrow.sg-start {
  grid-area: headerrow-start;
}

.slick-headerrow.sg-main {
  grid-area: headerrow-main;
}

.slick-headerrow.sg-end {
  grid-area: headerrow-end;
}

.slick-top-panel {
  grid-area: top-panel;
}

.slick-viewport.sg-top.sg-start {
  grid-area: viewport-top-start;
}

.slick-viewport.sg-top.sg-main {
  grid-area: viewport-top-main;
}

.slick-viewport.sg-top.sg-end {
  grid-area: viewport-top-end;
}

.slick-viewport.sg-body.sg-start {
  grid-area: viewport-body-start;
}

.slick-viewport.sg-body.sg-main {
  grid-area: viewport-body-main;
}

.slick-viewport.sg-body.sg-end {
  grid-area: viewport-body-end;
}

.slick-viewport.sg-bottom.sg-start {
  grid-area: viewport-bottom-start;
}

.slick-viewport.sg-bottom.sg-main {
  grid-area: viewport-bottom-main;
}

.slick-viewport.sg-bottom.sg-end {
  grid-area: viewport-bottom-end;
}

.slick-footerrow.sg-start {
  grid-area: footerrow-start;
}

.slick-footerrow.sg-main {
  grid-area: footerrow-main;
}

.slick-footerrow.sg-end {
  grid-area: footerrow-end;
}

.slick-viewport {
  position: relative;
  outline: 0;
  width: 100%;
}

.slick-viewport.sg-body.sg-start,
.slick-viewport.sg-body.sg-end {
  overflow-y: hidden;
}

.grid-canvas.sg-body.sg-start,
.grid-canvas.sg-body.sg-end {
  margin-bottom: var(--sg-scrollbar-h);
}

.slick-viewport.sg-top.sg-main,
.slick-viewport.sg-bottom.sg-main {
  overflow: hidden;
}

.grid-canvas {
  position: relative;
  outline: 0;
  overflow: hidden;
}

.grid-canvas.sg-main,
.slick-header-columns.sg-main,
.slick-headerrow-columns.sg-main,
.slick-footerrow-columns.sg-main {
  width: var(--sg-virtual-width);
}

.slick-header.sg-start,
.slick-headerrow.sg-start,
.slick-viewport.sg-start,
.slick-footerrow.sg-start {
  width: var(--sg-start-width, fit-content);
  min-width: var(--sg-start-width, fit-content);
  max-width: var(--sg-start-width, fit-content);
}

.slick-header.sg-end,
.slick-headerrow.sg-end,
.slick-viewport.sg-end,
.slick-footerrow.sg-end {
  width: var(--sg-end-width, fit-content);
  min-width: var(--sg-end-width, fit-content);
  max-width: var(--sg-end-width, fit-content);
}

.slick-viewport.sg-top,
.grid-canvas.sg-top {
  height: var(--sg-top-height, fit-content);
  min-height: var(--sg-top-height, fit-content);
  max-height: var(--sg-top-height, fit-content);
  ;
}

.slick-viewport.sg-bottom,
.grid-canvas.sg-bottom {
  height: var(--sg-bottom-height, fit-content);
  min-height: var(--sg-bottom-height, fit-content);
  max-height: var(--sg-bottom-height, fit-content);
}

.slick-viewport.sg-body {
  height: var(--sg-body-height, auto);
}

.grid-canvas.sg-body {
  height: var(--sg-virtual-height);
}

.slick-group-header,
.slick-header,
.slick-headerrow,
.slick-footerrow,
.slick-top-panel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slick-top-panel,
.slick-grouping-panel,
.slick-headerrow-columns,
.slick-footerrow-columns {
  height: var(--sg-row-height, 30px);
}

.slick-header::-webkit-scrollbar,
.slick-headerrow::-webkit-scrollbar,
.slick-footerrow::-webkit-scrollbar {
  display: none
}

.slick-header-columns,
.slick-header-column {
  user-select: none;
}

.slick-header-columns,
.slick-headerrow-columns,
.slick-footerrow-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

.slick-group-header,
.slick-header-column,
.slick-headerrow-column,
.slick-footerrow-column {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-grouping-panel {
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
}

.slick-group-toggle {
  display: inline-block;
}

.slick-resizable-handle {
  cursor: ew-resize;
  display: block;
  font-size: 0.1px;
  position: absolute;
  width: 9px;
  right: -5px;
  top: 0;
  height: 100%;
  z-index: 1;
  touch-action: none;
}

.slick-container.slick-column-resizing * {
  cursor: ew-resize !important;
}

.slick-cell,
.slick-headerrow-column,
.slick-footerrow-column {
  cursor: default;
  position: absolute;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.slick-row {
  position: absolute;
  width: 100%;
}

.slick-cell:focus {
  outline: none;
}

.slick-focus-sink {
  position: fixed;
  width: 0 !important;
  height: 0 !important;
  top: 0;
  left: 0;
  outline: 0 !important;
}

[hidden][hidden] {
  display: none !important;
}

.slick-hscrollspacer,
.slick-footerrow-columns.sg-main,
.slick-headerrow-columns.sg-main,
.slick-header-columns.sg-main,
.grid-canvas.sg-top.sg-main,
.grid-canvas.sg-bottom.sg-main {
  margin-right: var(--sg-scrollbar-w);
}

.slick-cell.editable {
  overflow: visible;
}

.slick-reorder-proxy {
  display: inline-block;
  opacity: 0.15;
  cursor: move;
}

.slick-reorder-guide {
  display: inline-block;
  height: 2px;
  opacity: 0.7;
}

.slick-reorder-shadow-row {
  position: absolute;
}

.slick-sort-indicator sub {
  top: 0;
}


.slick-selection {
  z-index: 10;
  position: absolute;
}

.slick-vscrollspacer {
  margin-bottom: var(--sg-scrollbar-h);
}


/*!rtl:begin:ignore*/

.sleek-vars .l0 {
  left: var(--l0);
}

.sleek-vars .l1 {
  left: var(--l1);
}

.sleek-vars .l2 {
  left: var(--l2);
}

.sleek-vars .l3 {
  left: var(--l3);
}

.sleek-vars .l4 {
  left: var(--l4);
}

.sleek-vars .l5 {
  left: var(--l5);
}

.sleek-vars .l6 {
  left: var(--l6);
}

.sleek-vars .l7 {
  left: var(--l7);
}

.sleek-vars .l8 {
  left: var(--l8);
}

.sleek-vars .l9 {
  left: var(--l9);
}

.sleek-vars .l10 {
  left: var(--l10);
}

.sleek-vars .l11 {
  left: var(--l11);
}

.sleek-vars .l12 {
  left: var(--l12);
}

.sleek-vars .l13 {
  left: var(--l13);
}

.sleek-vars .l14 {
  left: var(--l14);
}

.sleek-vars .l15 {
  left: var(--l15);
}

.sleek-vars .l16 {
  left: var(--l16);
}

.sleek-vars .l17 {
  left: var(--l17);
}

.sleek-vars .l18 {
  left: var(--l18);
}

.sleek-vars .l19 {
  left: var(--l19);
}

.sleek-vars .l20 {
  left: var(--l20);
}

.sleek-vars .l21 {
  left: var(--l21);
}

.sleek-vars .l22 {
  left: var(--l22);
}

.sleek-vars .l23 {
  left: var(--l23);
}

.sleek-vars .l24 {
  left: var(--l24);
}

.sleek-vars .l25 {
  left: var(--l25);
}

.sleek-vars .l26 {
  left: var(--l26);
}

.sleek-vars .l27 {
  left: var(--l27);
}

.sleek-vars .l28 {
  left: var(--l28);
}

.sleek-vars .l29 {
  left: var(--l29);
}

.sleek-vars .l30 {
  left: var(--l30);
}

.sleek-vars .l31 {
  left: var(--l31);
}

.sleek-vars .l32 {
  left: var(--l32);
}

.sleek-vars .l33 {
  left: var(--l33);
}

.sleek-vars .l34 {
  left: var(--l34);
}

.sleek-vars .l35 {
  left: var(--l35);
}

.sleek-vars .l36 {
  left: var(--l36);
}

.sleek-vars .l37 {
  left: var(--l37);
}

.sleek-vars .l38 {
  left: var(--l38);
}

.sleek-vars .l39 {
  left: var(--l39);
}

.sleek-vars .l40 {
  left: var(--l40);
}

.sleek-vars .l41 {
  left: var(--l41);
}

.sleek-vars .l42 {
  left: var(--l42);
}

.sleek-vars .l43 {
  left: var(--l43);
}

.sleek-vars .l44 {
  left: var(--l44);
}

.sleek-vars .l45 {
  left: var(--l45);
}

.sleek-vars .l46 {
  left: var(--l46);
}

.sleek-vars .l47 {
  left: var(--l47);
}

.sleek-vars .l48 {
  left: var(--l48);
}

.sleek-vars .l49 {
  left: var(--l49);
}

.sleek-vars .l50 {
  left: var(--l50);
}

.sleek-vars .l51 {
  left: var(--l51);
}

.sleek-vars .l52 {
  left: var(--l52);
}

.sleek-vars .l53 {
  left: var(--l53);
}

.sleek-vars .l54 {
  left: var(--l54);
}

.sleek-vars .l55 {
  left: var(--l55);
}

.sleek-vars .l56 {
  left: var(--l56);
}

.sleek-vars .l57 {
  left: var(--l57);
}

.sleek-vars .l58 {
  left: var(--l58);
}

.sleek-vars .l59 {
  left: var(--l59);
}

.sleek-vars .l60 {
  left: var(--l60);
}

.sleek-vars .l61 {
  left: var(--l61);
}

.sleek-vars .l62 {
  left: var(--l62);
}

.sleek-vars .l63 {
  left: var(--l63);
}

.sleek-vars .l64 {
  left: var(--l64);
}

.sleek-vars .l65 {
  left: var(--l65);
}

.sleek-vars .l66 {
  left: var(--l66);
}

.sleek-vars .l67 {
  left: var(--l67);
}

.sleek-vars .l68 {
  left: var(--l68);
}

.sleek-vars .l69 {
  left: var(--l69);
}

.sleek-vars .l70 {
  left: var(--l70);
}

.sleek-vars .l71 {
  left: var(--l71);
}

.sleek-vars .l72 {
  left: var(--l72);
}

.sleek-vars .l73 {
  left: var(--l73);
}

.sleek-vars .l74 {
  left: var(--l74);
}

.sleek-vars .l75 {
  left: var(--l75);
}

.sleek-vars .l76 {
  left: var(--l76);
}

.sleek-vars .l77 {
  left: var(--l77);
}

.sleek-vars .l78 {
  left: var(--l78);
}

.sleek-vars .l79 {
  left: var(--l79);
}

.sleek-vars .l80 {
  left: var(--l80);
}

.sleek-vars .l81 {
  left: var(--l81);
}

.sleek-vars .l82 {
  left: var(--l82);
}

.sleek-vars .l83 {
  left: var(--l83);
}

.sleek-vars .l84 {
  left: var(--l84);
}

.sleek-vars .l85 {
  left: var(--l85);
}

.sleek-vars .l86 {
  left: var(--l86);
}

.sleek-vars .l87 {
  left: var(--l87);
}

.sleek-vars .l88 {
  left: var(--l88);
}

.sleek-vars .l89 {
  left: var(--l89);
}

.sleek-vars .l90 {
  left: var(--l90);
}

.sleek-vars .l91 {
  left: var(--l91);
}

.sleek-vars .l92 {
  left: var(--l92);
}

.sleek-vars .l93 {
  left: var(--l93);
}

.sleek-vars .l94 {
  left: var(--l94);
}

.sleek-vars .l95 {
  left: var(--l95);
}

.sleek-vars .l96 {
  left: var(--l96);
}

.sleek-vars .l97 {
  left: var(--l97);
}

.sleek-vars .l98 {
  left: var(--l98);
}

.sleek-vars .l99 {
  left: var(--l99);
}

.sleek-vars .r0 {
  right: var(--r0);
}

.sleek-vars .r1 {
  right: var(--r1);
}

.sleek-vars .r2 {
  right: var(--r2);
}

.sleek-vars .r3 {
  right: var(--r3);
}

.sleek-vars .r4 {
  right: var(--r4);
}

.sleek-vars .r5 {
  right: var(--r5);
}

.sleek-vars .r6 {
  right: var(--r6);
}

.sleek-vars .r7 {
  right: var(--r7);
}

.sleek-vars .r8 {
  right: var(--r8);
}

.sleek-vars .r9 {
  right: var(--r9);
}

.sleek-vars .r10 {
  right: var(--r10);
}

.sleek-vars .r11 {
  right: var(--r11);
}

.sleek-vars .r12 {
  right: var(--r12);
}

.sleek-vars .r13 {
  right: var(--r13);
}

.sleek-vars .r14 {
  right: var(--r14);
}

.sleek-vars .r15 {
  right: var(--r15);
}

.sleek-vars .r16 {
  right: var(--r16);
}

.sleek-vars .r17 {
  right: var(--r17);
}

.sleek-vars .r18 {
  right: var(--r18);
}

.sleek-vars .r19 {
  right: var(--r19);
}

.sleek-vars .r20 {
  right: var(--r20);
}

.sleek-vars .r21 {
  right: var(--r21);
}

.sleek-vars .r22 {
  right: var(--r22);
}

.sleek-vars .r23 {
  right: var(--r23);
}

.sleek-vars .r24 {
  right: var(--r24);
}

.sleek-vars .r25 {
  right: var(--r25);
}

.sleek-vars .r26 {
  right: var(--r26);
}

.sleek-vars .r27 {
  right: var(--r27);
}

.sleek-vars .r28 {
  right: var(--r28);
}

.sleek-vars .r29 {
  right: var(--r29);
}

.sleek-vars .r30 {
  right: var(--r30);
}

.sleek-vars .r31 {
  right: var(--r31);
}

.sleek-vars .r32 {
  right: var(--r32);
}

.sleek-vars .r33 {
  right: var(--r33);
}

.sleek-vars .r34 {
  right: var(--r34);
}

.sleek-vars .r35 {
  right: var(--r35);
}

.sleek-vars .r36 {
  right: var(--r36);
}

.sleek-vars .r37 {
  right: var(--r37);
}

.sleek-vars .r38 {
  right: var(--r38);
}

.sleek-vars .r39 {
  right: var(--r39);
}

.sleek-vars .r40 {
  right: var(--r40);
}

.sleek-vars .r41 {
  right: var(--r41);
}

.sleek-vars .r42 {
  right: var(--r42);
}

.sleek-vars .r43 {
  right: var(--r43);
}

.sleek-vars .r44 {
  right: var(--r44);
}

.sleek-vars .r45 {
  right: var(--r45);
}

.sleek-vars .r46 {
  right: var(--r46);
}

.sleek-vars .r47 {
  right: var(--r47);
}

.sleek-vars .r48 {
  right: var(--r48);
}

.sleek-vars .r49 {
  right: var(--r49);
}

.sleek-vars .r50 {
  right: var(--r50);
}

.sleek-vars .r51 {
  right: var(--r51);
}

.sleek-vars .r52 {
  right: var(--r52);
}

.sleek-vars .r53 {
  right: var(--r53);
}

.sleek-vars .r54 {
  right: var(--r54);
}

.sleek-vars .r55 {
  right: var(--r55);
}

.sleek-vars .r56 {
  right: var(--r56);
}

.sleek-vars .r57 {
  right: var(--r57);
}

.sleek-vars .r58 {
  right: var(--r58);
}

.sleek-vars .r59 {
  right: var(--r59);
}

.sleek-vars .r60 {
  right: var(--r60);
}

.sleek-vars .r61 {
  right: var(--r61);
}

.sleek-vars .r62 {
  right: var(--r62);
}

.sleek-vars .r63 {
  right: var(--r63);
}

.sleek-vars .r64 {
  right: var(--r64);
}

.sleek-vars .r65 {
  right: var(--r65);
}

.sleek-vars .r66 {
  right: var(--r66);
}

.sleek-vars .r67 {
  right: var(--r67);
}

.sleek-vars .r68 {
  right: var(--r68);
}

.sleek-vars .r69 {
  right: var(--r69);
}

.sleek-vars .r70 {
  right: var(--r70);
}

.sleek-vars .r71 {
  right: var(--r71);
}

.sleek-vars .r72 {
  right: var(--r72);
}

.sleek-vars .r73 {
  right: var(--r73);
}

.sleek-vars .r74 {
  right: var(--r74);
}

.sleek-vars .r75 {
  right: var(--r75);
}

.sleek-vars .r76 {
  right: var(--r76);
}

.sleek-vars .r77 {
  right: var(--r77);
}

.sleek-vars .r78 {
  right: var(--r78);
}

.sleek-vars .r79 {
  right: var(--r79);
}

.sleek-vars .r80 {
  right: var(--r80);
}

.sleek-vars .r81 {
  right: var(--r81);
}

.sleek-vars .r82 {
  right: var(--r82);
}

.sleek-vars .r83 {
  right: var(--r83);
}

.sleek-vars .r84 {
  right: var(--r84);
}

.sleek-vars .r85 {
  right: var(--r85);
}

.sleek-vars .r86 {
  right: var(--r86);
}

.sleek-vars .r87 {
  right: var(--r87);
}

.sleek-vars .r88 {
  right: var(--r88);
}

.sleek-vars .r89 {
  right: var(--r89);
}

.sleek-vars .r90 {
  right: var(--r90);
}

.sleek-vars .r91 {
  right: var(--r91);
}

.sleek-vars .r92 {
  right: var(--r92);
}

.sleek-vars .r93 {
  right: var(--r93);
}

.sleek-vars .r94 {
  right: var(--r94);
}

.sleek-vars .r95 {
  right: var(--r95);
}

.sleek-vars .r96 {
  right: var(--r96);
}

.sleek-vars .r97 {
  right: var(--r97);
}

.sleek-vars .r98 {
  right: var(--r98);
}

.sleek-vars .r99 {
  right: var(--r99);
}

.sleek-vars .slick-cell {
  height: var(--sg-cell-height);
}

.sleek-vars .slick-row {
  height: var(--sg-row-height);
}

/*!rtl:end:ignore*/
