.slick-container {
  display: grid;
  grid-template-columns: max-content minmax(30px, 1fr) max-content;
  grid-template-rows: max-content max-content max-content max-content max-content minmax(0, 1fr) max-content max-content;
  grid-template-areas:
    "grouping-panel grouping-panel grouping-panel"
    "header-start header-main header-end"
    "headerrow-start headerrow-main headerrow-end"
    "top-panel top-panel top-panel"
    "viewport-top-start viewport-top-main viewport-top-end"
    "viewport-body-start viewport-body-main viewport-body-end"
    "viewport-bottom-start viewport-bottom-main viewport-bottom-end"
    "footerrow-start footerrow-main footerrow-end";
}

.slick-grouping-panel {
  grid-area: grouping-panel;
}

.slick-header.sg-start {
  grid-area: header-start;
}

.slick-header.sg-main {
  grid-area: header-main;
}

.slick-header.sg-end {
  grid-area: header-end;
}

.slick-headerrow.sg-start {
  grid-area: headerrow-start;
}

.slick-headerrow.sg-main {
  grid-area: headerrow-main;
}

.slick-headerrow.sg-end {
  grid-area: headerrow-end;
}

.slick-top-panel {
  grid-area: top-panel;
}

.slick-viewport.sg-top.sg-start {
  grid-area: viewport-top-start;
}

.slick-viewport.sg-top.sg-main {
  grid-area: viewport-top-main;
}

.slick-viewport.sg-top.sg-end {
  grid-area: viewport-top-end;
}

.slick-viewport.sg-body.sg-start {
  grid-area: viewport-body-start;
}

.slick-viewport.sg-body.sg-main {
  grid-area: viewport-body-main;
}

.slick-viewport.sg-body.sg-end {
  grid-area: viewport-body-end;
}

.slick-viewport.sg-bottom.sg-start {
  grid-area: viewport-bottom-start;
}

.slick-viewport.sg-bottom.sg-main {
  grid-area: viewport-bottom-main;
}

.slick-viewport.sg-bottom.sg-end {
  grid-area: viewport-bottom-end;
}

.slick-footerrow.sg-start {
  grid-area: footerrow-start;
}

.slick-footerrow.sg-main {
  grid-area: footerrow-main;
}

.slick-footerrow.sg-end {
  grid-area: footerrow-end;
}

.slick-viewport {
  position: relative;
  outline: 0;
  width: 100%;
}

.slick-viewport.sg-body.sg-start,
.slick-viewport.sg-body.sg-end {
  overflow-y: hidden;
}

.grid-canvas.sg-body.sg-start,
.grid-canvas.sg-body.sg-end {
  margin-bottom: var(--sg-scrollbar-h);
}

.slick-viewport.sg-top.sg-main,
.slick-viewport.sg-bottom.sg-main {
  overflow: hidden;
}

.grid-canvas {
  position: relative;
  outline: 0;
  overflow: hidden;
}

.grid-canvas.sg-main,
.slick-header-columns.sg-main,
.slick-headerrow-columns.sg-main,
.slick-footerrow-columns.sg-main {
  width: var(--sg-virtual-width);
}

.slick-header.sg-start,
.slick-headerrow.sg-start,
.slick-viewport.sg-start,
.slick-footerrow.sg-start {
  width: var(--sg-start-width, fit-content);
  min-width: var(--sg-start-width, fit-content);
  max-width: var(--sg-start-width, fit-content);
}

.slick-header.sg-end,
.slick-headerrow.sg-end,
.slick-viewport.sg-end,
.slick-footerrow.sg-end {
  width: var(--sg-end-width, fit-content);
  min-width: var(--sg-end-width, fit-content);
  max-width: var(--sg-end-width, fit-content);
}

.slick-viewport.sg-top,
.grid-canvas.sg-top {
  height: var(--sg-top-height, fit-content);
  min-height: var(--sg-top-height, fit-content);
  max-height: var(--sg-top-height, fit-content);
  ;
}

.slick-viewport.sg-bottom,
.grid-canvas.sg-bottom {
  height: var(--sg-bottom-height, fit-content);
  min-height: var(--sg-bottom-height, fit-content);
  max-height: var(--sg-bottom-height, fit-content);
}

.slick-viewport.sg-body {
  height: var(--sg-body-height, auto);
}

.grid-canvas.sg-body {
  height: var(--sg-virtual-height);
}

.slick-group-header,
.slick-header,
.slick-headerrow,
.slick-footerrow,
.slick-top-panel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slick-top-panel,
.slick-grouping-panel,
.slick-headerrow-columns,
.slick-footerrow-columns {
  height: var(--sg-row-height, 30px);
}

.slick-header::-webkit-scrollbar,
.slick-headerrow::-webkit-scrollbar,
.slick-footerrow::-webkit-scrollbar {
  display: none
}

.slick-header-columns,
.slick-header-column {
  user-select: none;
}

.slick-header-columns,
.slick-headerrow-columns,
.slick-footerrow-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

.slick-group-header,
.slick-header-column,
.slick-headerrow-column,
.slick-footerrow-column {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-grouping-panel {
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
}

.slick-group-toggle {
  display: inline-block;
}

.slick-resizable-handle {
  cursor: ew-resize;
  display: block;
  font-size: 0.1px;
  position: absolute;
  width: 9px;
  right: -5px;
  top: 0;
  height: 100%;
  z-index: 1;
  touch-action: none;
}

.slick-container.slick-column-resizing * {
  cursor: ew-resize !important;
}

.slick-cell,
.slick-headerrow-column,
.slick-footerrow-column {
  cursor: default;
  position: absolute;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 1;
}

.slick-row {
  position: absolute;
  width: 100%;
}

.slick-cell:focus {
  outline: none;
}

.slick-focus-sink {
  position: fixed;
  width: 0 !important;
  height: 0 !important;
  top: 0;
  left: 0;
  outline: 0 !important;
}

[hidden][hidden] {
  display: none !important;
}

.slick-hscrollspacer,
.slick-footerrow-columns.sg-main,
.slick-headerrow-columns.sg-main,
.slick-header-columns.sg-main,
.grid-canvas.sg-top.sg-main,
.grid-canvas.sg-bottom.sg-main {
  margin-right: var(--sg-scrollbar-w);
}

.slick-cell.editable {
  z-index: 11;
  overflow: visible;
}

.slick-reorder-proxy {
  display: inline-block;
  opacity: 0.15;
  cursor: move;
}

.slick-reorder-guide {
  display: inline-block;
  height: 2px;
  opacity: 0.7;
}

.slick-reorder-shadow-row {
  position: absolute;
}

.slick-sort-indicator sub {
  top: 0;
}


.slick-selection {
  z-index: 10;
  position: absolute;
}

.slick-vscrollspacer {
  margin-bottom: var(--sg-scrollbar-h);
}


/*!rtl:begin:ignore*/

.sleek-vars.ltr .l0 {
  left: var(--l0);
}

.sleek-vars.ltr .l1 {
  left: var(--l1);
}

.sleek-vars.ltr .l2 {
  left: var(--l2);
}

.sleek-vars.ltr .l3 {
  left: var(--l3);
}

.sleek-vars.ltr .l4 {
  left: var(--l4);
}

.sleek-vars.ltr .l5 {
  left: var(--l5);
}

.sleek-vars.ltr .l6 {
  left: var(--l6);
}

.sleek-vars.ltr .l7 {
  left: var(--l7);
}

.sleek-vars.ltr .l8 {
  left: var(--l8);
}

.sleek-vars.ltr .l9 {
  left: var(--l9);
}

.sleek-vars.ltr .l10 {
  left: var(--l10);
}

.sleek-vars.ltr .l11 {
  left: var(--l11);
}

.sleek-vars.ltr .l12 {
  left: var(--l12);
}

.sleek-vars.ltr .l13 {
  left: var(--l13);
}

.sleek-vars.ltr .l14 {
  left: var(--l14);
}

.sleek-vars.ltr .l15 {
  left: var(--l15);
}

.sleek-vars.ltr .l16 {
  left: var(--l16);
}

.sleek-vars.ltr .l17 {
  left: var(--l17);
}

.sleek-vars.ltr .l18 {
  left: var(--l18);
}

.sleek-vars.ltr .l19 {
  left: var(--l19);
}

.sleek-vars.ltr .l20 {
  left: var(--l20);
}

.sleek-vars.ltr .l21 {
  left: var(--l21);
}

.sleek-vars.ltr .l22 {
  left: var(--l22);
}

.sleek-vars.ltr .l23 {
  left: var(--l23);
}

.sleek-vars.ltr .l24 {
  left: var(--l24);
}

.sleek-vars.ltr .l25 {
  left: var(--l25);
}

.sleek-vars.ltr .l26 {
  left: var(--l26);
}

.sleek-vars.ltr .l27 {
  left: var(--l27);
}

.sleek-vars.ltr .l28 {
  left: var(--l28);
}

.sleek-vars.ltr .l29 {
  left: var(--l29);
}

.sleek-vars.ltr .l30 {
  left: var(--l30);
}

.sleek-vars.ltr .l31 {
  left: var(--l31);
}

.sleek-vars.ltr .l32 {
  left: var(--l32);
}

.sleek-vars.ltr .l33 {
  left: var(--l33);
}

.sleek-vars.ltr .l34 {
  left: var(--l34);
}

.sleek-vars.ltr .l35 {
  left: var(--l35);
}

.sleek-vars.ltr .l36 {
  left: var(--l36);
}

.sleek-vars.ltr .l37 {
  left: var(--l37);
}

.sleek-vars.ltr .l38 {
  left: var(--l38);
}

.sleek-vars.ltr .l39 {
  left: var(--l39);
}

.sleek-vars.ltr .l40 {
  left: var(--l40);
}

.sleek-vars.ltr .l41 {
  left: var(--l41);
}

.sleek-vars.ltr .l42 {
  left: var(--l42);
}

.sleek-vars.ltr .l43 {
  left: var(--l43);
}

.sleek-vars.ltr .l44 {
  left: var(--l44);
}

.sleek-vars.ltr .l45 {
  left: var(--l45);
}

.sleek-vars.ltr .l46 {
  left: var(--l46);
}

.sleek-vars.ltr .l47 {
  left: var(--l47);
}

.sleek-vars.ltr .l48 {
  left: var(--l48);
}

.sleek-vars.ltr .l49 {
  left: var(--l49);
}

.sleek-vars.ltr .r0 {
  right: var(--r0);
}

.sleek-vars.ltr .r1 {
  right: var(--r1);
}

.sleek-vars.ltr .r2 {
  right: var(--r2);
}

.sleek-vars.ltr .r3 {
  right: var(--r3);
}

.sleek-vars.ltr .r4 {
  right: var(--r4);
}

.sleek-vars.ltr .r5 {
  right: var(--r5);
}

.sleek-vars.ltr .r6 {
  right: var(--r6);
}

.sleek-vars.ltr .r7 {
  right: var(--r7);
}

.sleek-vars.ltr .r8 {
  right: var(--r8);
}

.sleek-vars.ltr .r9 {
  right: var(--r9);
}

.sleek-vars.ltr .r10 {
  right: var(--r10);
}

.sleek-vars.ltr .r11 {
  right: var(--r11);
}

.sleek-vars.ltr .r12 {
  right: var(--r12);
}

.sleek-vars.ltr .r13 {
  right: var(--r13);
}

.sleek-vars.ltr .r14 {
  right: var(--r14);
}

.sleek-vars.ltr .r15 {
  right: var(--r15);
}

.sleek-vars.ltr .r16 {
  right: var(--r16);
}

.sleek-vars.ltr .r17 {
  right: var(--r17);
}

.sleek-vars.ltr .r18 {
  right: var(--r18);
}

.sleek-vars.ltr .r19 {
  right: var(--r19);
}

.sleek-vars.ltr .r20 {
  right: var(--r20);
}

.sleek-vars.ltr .r21 {
  right: var(--r21);
}

.sleek-vars.ltr .r22 {
  right: var(--r22);
}

.sleek-vars.ltr .r23 {
  right: var(--r23);
}

.sleek-vars.ltr .r24 {
  right: var(--r24);
}

.sleek-vars.ltr .r25 {
  right: var(--r25);
}

.sleek-vars.ltr .r26 {
  right: var(--r26);
}

.sleek-vars.ltr .r27 {
  right: var(--r27);
}

.sleek-vars.ltr .r28 {
  right: var(--r28);
}

.sleek-vars.ltr .r29 {
  right: var(--r29);
}

.sleek-vars.ltr .r30 {
  right: var(--r30);
}

.sleek-vars.ltr .r31 {
  right: var(--r31);
}

.sleek-vars.ltr .r32 {
  right: var(--r32);
}

.sleek-vars.ltr .r33 {
  right: var(--r33);
}

.sleek-vars.ltr .r34 {
  right: var(--r34);
}

.sleek-vars.ltr .r35 {
  right: var(--r35);
}

.sleek-vars.ltr .r36 {
  right: var(--r36);
}

.sleek-vars.ltr .r37 {
  right: var(--r37);
}

.sleek-vars.ltr .r38 {
  right: var(--r38);
}

.sleek-vars.ltr .r39 {
  right: var(--r39);
}

.sleek-vars.ltr .r40 {
  right: var(--r40);
}

.sleek-vars.ltr .r41 {
  right: var(--r41);
}

.sleek-vars.ltr .r42 {
  right: var(--r42);
}

.sleek-vars.ltr .r43 {
  right: var(--r43);
}

.sleek-vars.ltr .r44 {
  right: var(--r44);
}

.sleek-vars.ltr .r45 {
  right: var(--r45);
}

.sleek-vars.ltr .r46 {
  right: var(--r46);
}

.sleek-vars.ltr .r47 {
  right: var(--r47);
}

.sleek-vars.ltr .r48 {
  right: var(--r48);
}

.sleek-vars.ltr .r49 {
  right: var(--r49);
}

.sleek-vars.rtl .l0 {
  right: var(--l0);
}

.sleek-vars.rtl .l1 {
  right: var(--l1);
}

.sleek-vars.rtl .l2 {
  right: var(--l2);
}

.sleek-vars.rtl .l3 {
  right: var(--l3);
}

.sleek-vars.rtl .l4 {
  right: var(--l4);
}

.sleek-vars.rtl .l5 {
  right: var(--l5);
}

.sleek-vars.rtl .l6 {
  right: var(--l6);
}

.sleek-vars.rtl .l7 {
  right: var(--l7);
}

.sleek-vars.rtl .l8 {
  right: var(--l8);
}

.sleek-vars.rtl .l9 {
  right: var(--l9);
}

.sleek-vars.rtl .l10 {
  right: var(--l10);
}

.sleek-vars.rtl .l11 {
  right: var(--l11);
}

.sleek-vars.rtl .l12 {
  right: var(--l12);
}

.sleek-vars.rtl .l13 {
  right: var(--l13);
}

.sleek-vars.rtl .l14 {
  right: var(--l14);
}

.sleek-vars.rtl .l15 {
  right: var(--l15);
}

.sleek-vars.rtl .l16 {
  right: var(--l16);
}

.sleek-vars.rtl .l17 {
  right: var(--l17);
}

.sleek-vars.rtl .l18 {
  right: var(--l18);
}

.sleek-vars.rtl .l19 {
  right: var(--l19);
}

.sleek-vars.rtl .l20 {
  right: var(--l20);
}

.sleek-vars.rtl .l21 {
  right: var(--l21);
}

.sleek-vars.rtl .l22 {
  right: var(--l22);
}

.sleek-vars.rtl .l23 {
  right: var(--l23);
}

.sleek-vars.rtl .l24 {
  right: var(--l24);
}

.sleek-vars.rtl .l25 {
  right: var(--l25);
}

.sleek-vars.rtl .l26 {
  right: var(--l26);
}

.sleek-vars.rtl .l27 {
  right: var(--l27);
}

.sleek-vars.rtl .l28 {
  right: var(--l28);
}

.sleek-vars.rtl .l29 {
  right: var(--l29);
}

.sleek-vars.rtl .l30 {
  right: var(--l30);
}

.sleek-vars.rtl .l31 {
  right: var(--l31);
}

.sleek-vars.rtl .l32 {
  right: var(--l32);
}

.sleek-vars.rtl .l33 {
  right: var(--l33);
}

.sleek-vars.rtl .l34 {
  right: var(--l34);
}

.sleek-vars.rtl .l35 {
  right: var(--l35);
}

.sleek-vars.rtl .l36 {
  right: var(--l36);
}

.sleek-vars.rtl .l37 {
  right: var(--l37);
}

.sleek-vars.rtl .l38 {
  right: var(--l38);
}

.sleek-vars.rtl .l39 {
  right: var(--l39);
}

.sleek-vars.rtl .l40 {
  right: var(--l40);
}

.sleek-vars.rtl .l41 {
  right: var(--l41);
}

.sleek-vars.rtl .l42 {
  right: var(--l42);
}

.sleek-vars.rtl .l43 {
  right: var(--l43);
}

.sleek-vars.rtl .l44 {
  right: var(--l44);
}

.sleek-vars.rtl .l45 {
  right: var(--l45);
}

.sleek-vars.rtl .l46 {
  right: var(--l46);
}

.sleek-vars.rtl .l47 {
  right: var(--l47);
}

.sleek-vars.rtl .l48 {
  right: var(--l48);
}

.sleek-vars.rtl .l49 {
  right: var(--l49);
}


.sleek-vars.rtl .r0 {
  left: var(--r0);
}

.sleek-vars.rtl .r1 {
  left: var(--r1);
}

.sleek-vars.rtl .r2 {
  left: var(--r2);
}

.sleek-vars.rtl .r3 {
  left: var(--r3);
}

.sleek-vars.rtl .r4 {
  left: var(--r4);
}

.sleek-vars.rtl .r5 {
  left: var(--r5);
}

.sleek-vars.rtl .r6 {
  left: var(--r6);
}

.sleek-vars.rtl .r7 {
  left: var(--r7);
}

.sleek-vars.rtl .r8 {
  left: var(--r8);
}

.sleek-vars.rtl .r9 {
  left: var(--r9);
}

.sleek-vars.rtl .r10 {
  left: var(--r10);
}

.sleek-vars.rtl .r11 {
  left: var(--r11);
}

.sleek-vars.rtl .r12 {
  left: var(--r12);
}

.sleek-vars.rtl .r13 {
  left: var(--r13);
}

.sleek-vars.rtl .r14 {
  left: var(--r14);
}

.sleek-vars.rtl .r15 {
  left: var(--r15);
}

.sleek-vars.rtl .r16 {
  left: var(--r16);
}

.sleek-vars.rtl .r17 {
  left: var(--r17);
}

.sleek-vars.rtl .r18 {
  left: var(--r18);
}

.sleek-vars.rtl .r19 {
  left: var(--r19);
}

.sleek-vars.rtl .r20 {
  left: var(--r20);
}

.sleek-vars.rtl .r21 {
  left: var(--r21);
}

.sleek-vars.rtl .r22 {
  left: var(--r22);
}

.sleek-vars.rtl .r23 {
  left: var(--r23);
}

.sleek-vars.rtl .r24 {
  left: var(--r24);
}

.sleek-vars.rtl .r25 {
  left: var(--r25);
}

.sleek-vars.rtl .r26 {
  left: var(--r26);
}

.sleek-vars.rtl .r27 {
  left: var(--r27);
}

.sleek-vars.rtl .r28 {
  left: var(--r28);
}

.sleek-vars.rtl .r29 {
  left: var(--r29);
}

.sleek-vars.rtl .r30 {
  left: var(--r30);
}

.sleek-vars.rtl .r31 {
  left: var(--r31);
}

.sleek-vars.rtl .r32 {
  left: var(--r32);
}

.sleek-vars.rtl .r33 {
  left: var(--r33);
}

.sleek-vars.rtl .r34 {
  left: var(--r34);
}

.sleek-vars.rtl .r35 {
  left: var(--r35);
}

.sleek-vars.rtl .r36 {
  left: var(--r36);
}

.sleek-vars.rtl .r37 {
  left: var(--r37);
}

.sleek-vars.rtl .r38 {
  left: var(--r38);
}

.sleek-vars.rtl .r39 {
  left: var(--r39);
}

.sleek-vars.rtl .r40 {
  left: var(--r40);
}

.sleek-vars.rtl .r41 {
  left: var(--r41);
}

.sleek-vars.rtl .r42 {
  left: var(--r42);
}

.sleek-vars.rtl .r43 {
  left: var(--r43);
}

.sleek-vars.rtl .r44 {
  left: var(--r44);
}

.sleek-vars.rtl .r45 {
  left: var(--r45);
}

.sleek-vars.rtl .r46 {
  left: var(--r46);
}

.sleek-vars.rtl .r47 {
  left: var(--r47);
}

.sleek-vars.rtl .r48 {
  left: var(--r48);
}

.sleek-vars.rtl .r49 {
  left: var(--r49);
}

.sleek-vars .slick-cell {
  height: var(--sg-cell-height);
}

.sleek-vars .slick-row {
  height: var(--sg-row-height);
}

/*!rtl:end:ignore*/
