@inject ITextLocalizer Localizer
@{
    ViewData["Title"] = LoginFormTexts.LoginToYourAccount.ToString(Localizer);
    ViewData["PageId"] = "Login";
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<style>
    a { text-decoration: none; }
</style>

@if (ViewData["Activated"] != null)
{
    <input type="hidden" id="Activated" value="@ViewData["Activated"]" />
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close btn-close" data-dismiss="alert" data-bs-dismiss="alert" aria-hidden="true"></button>
        <h4><i class="icon fa fa-info"></i>@Localizer.Get("Dialogs.InformationTitle")</h4>
        @SignUpFormTexts.ActivationCompleteMessage.ToString(Localizer)
    </div>
}

<div class="s-full-page justify-content-center">
    <div id="LoginPanel" class="s-container-tight">

    </div>
</div>

@Html.ModulePageInit(ESM.LoginPage, new
{
    activated = ViewData["Activated"] as string
})
