**/bin/Debug/*
**/bin/Release/*
obj/
packages/*/*
*.bak
*.orig
*.pdb
*.suo
*.DotSettings*
*.user
Thumbs.db
ErrorLog.db
StyleCop.Cache
Documentation/Samples/packages/*/*
TestResults/
CodeGenerator/app.config
/Bin/
Samples/Serene/packages/
Samples/Serene/Serene/Serene.Web/bin
Samples/Serene/Serene/Serene.Web/App_Data/
Samples/Serene.VSIX/packages/
Samples/Serene/VSIX/packages/
Serene.Template.zip
packages/repositories.config
Serenity.Script.Core/Resources/Serenity.*.map
Serenity.CodeGenerator/App.config
*.crunchsolution.cache
*.ncrunchproject
*.ncrunchsolution
project.lock.json
*.project.lock.json
Serenity.Test/Scripts/SlickGrid/slick.grid.js
Serenity.Test/Scripts/serenity/Serenity.CoreLib.d.ts
Serenity.Test/Scripts/serenity/Serenity.CoreLib.js
Serenity.Test/Scripts/serenity/Serenity.Script.UI.js
Serenity.Test/Scripts/serenity/Serenity.Script.UI.min.js
Serenity.Test/Scripts/serenity/Serenity.CoreLib.js
Serenity.Test/Scripts/serenity/Serenity.CoreLib.min.js
.vs/restore.dg
.vs/
Tools/Addins/
.nupkg/
Serenity.CodeGenerator/Properties/launchSettings.json
node_modules/
Serenity.Test/Scripts/serenity/Serenity.Test.js.map
Serenity.TypeScript.CodeGeneration/Serenity.CodeGeneration.js.map
Serenity.TypeScript.CodeGeneration/Serenity.CodeGeneration.min.js
.vs/
npm-debug.log
/.axoCover/
Serenity.TypeScript.CoreLib/Serenity.CoreLib.js.map
Serenity.TypeScript.CoreLib/Serenity.CoreLib.min.js
/Serenity.Test/Scripts/typings/serenity/Serenity.CoreLib.d.ts
/src/Serenity.Scripts/dist/Serenity.CoreLib.base.js.map
/src/Serenity.Scripts/Tests/Temp/
/src/Serenity.Scripts/dist/*.tsbuildinfo
/src/Serenity.Scripts/dist/Serenity.CoreLib.widget.js.map
/src/Serenity.Scripts/dist/Serenity.CoreLib.editors.js.map
/src/Serenity.Scripts/dist/*.map
/src/Serenity.Scripts/dist/**/*.min.js
/src/Serenity.Scripts/dist/**/*.map
/src/Serenity.Scripts/dist/**/*.tsbuildinfo
/build/tools/Addins/
/src/Serenity.Scripts/dist/
/src/Serenity.Scripts/wwwroot/Serenity.CoreLib.*
/src/Serenity.Net.CodeGenerator/bin/
