.vs/
_site
obj/
bin/
/artifacts
/coverage
/dist/**/*.js
/dist/**/*.map
/dist/**/*.min.js
/wwwroot/**/*.js
/wwwroot/**/*.map
/wwwroot/**/*.min.js
.jekyll-*
GemFile*
node_modules/
/docs/assets/local
*.bak
*.orig
*.log
*.tgz

/out/typedoc.json

*.tsbuildinfo
