
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.Northwind.Category.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BasicApplication.Northwind.CategoryGrid($('#GridDiv'), {
        }).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>