@{
    ViewBag.Title = "Login";
    ViewBag.PageId = "Login";
    Layout = "~/Views/Shared/_LayoutNoNavigation.cshtml";
}

<div class="page-content">
    <div id="LoginPanelWrapper">

    </div>
</div>

<script type="text/javascript">
jQuery(function() {
    var loginPanel = new BasicApplication.Membership.LoginPanel();
    loginPanel.element.appendTo('#LoginPanelWrapper');
});
</script>