<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.8.8" targetFramework="net20" />
  <package id="jquery.validation.TypeScript.DefinitelyTyped" version="0.2.8" targetFramework="net2" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.2.9" targetFramework="net20" />
  <package id="Saltarelle.Compiler" version="2.7.0" targetFramework="net2" />
  <package id="Saltarelle.jQuery" version="1.10.1" targetFramework="net2" />
  <package id="Saltarelle.jQuery.UI" version="1.10.1" targetFramework="net2" />
  <package id="Saltarelle.Linq" version="2.4.0" targetFramework="net2" />
  <package id="Saltarelle.Runtime" version="2.7.0" targetFramework="net2" />
  <package id="Saltarelle.Web" version="3.1.0" targetFramework="net2" />
</packages>