
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.Administration.Translation.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BasicApplication.Administration.TranslationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>