<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net45" />
  <package id="CouchbaseNetClient" version="2.5.10" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="OpenTracing.Signed" version="0.10.4" targetFramework="net45" />
</packages>