@@{
    ViewBag.Title = "@(Model.ClassName)";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new @(Model.RootNamespace).@(Model.Module).@(Model.ClassName)Grid($('#GridDiv'), {
        });

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>