@* Generator: Template *@
@functions { public dynamic Model { get; set; } }@{var dotModule = Model.Module == null ? "" : ("." + Model.Module);}
@@{
    ViewBag.Title = "@(Model.ClassName)";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new @(Model.RootNamespace)@(dotModule).@(Model.ClassName)Grid($('#GridDiv'), {
        });

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>