.restore-stamp
Thumbs.db
StyleCop.Cache
UpgradeLog.htm
*.bak
*.log
*.orig
*.pdb
*.pubxml
*.suo
*.user
appsettings*.machine.json
/coverage/
/dynamic-data/
.vs/
App_Data/
bin/
node_modules/
obj/
TestResults/
wwwroot/esm/
wwwroot/npm/
