<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jquery.blockUI.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net45" />
  <package id="jquery.cookie.TypeScript.DefinitelyTyped" version="0.2.1" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net45" />
  <package id="jquery.validation.TypeScript.DefinitelyTyped" version="0.2.8" targetFramework="net45" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.5.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MsieJavaScriptEngine" version="2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="sortablejs.TypeScript.DefinitelyTyped" version="0.1.8" targetFramework="net45" />
  <package id="toastr.TypeScript.DefinitelyTyped" version="0.3.1" targetFramework="net45" />
</packages>