
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.Northwind.EmployeeTerritory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BasicApplication.Northwind.EmployeeTerritoryGrid($('#GridDiv'), {
        });

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>