<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<appSettings>
  <add key="RootNamespace" value="Marmara" />
  <add key="WebPath" value="Marmara.Web\"/>
  <add key="ScriptPath" value="Marmara.Script.Site\"/>
  <add key="ScriptProject" value="Marmara.Script.Site\Marmara.Script.Site.csproj"/>
  <add key="WebProject" value="Marmara.Web\Marmara.Web.csproj"/>
  <add key="BaseRowFields_LoggingRow" value="IlkKayitTarihi, IlkKaydedenID, SonGuncellemeTarihi, SonGuncelleyenID, Aktif" />
  <add key="RemoveForeignFields" value="IlkKayitTarihi, IlkKaydedenID, SonGuncellemeTarihi, SonGuncelleyenID, Aktif" />
</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
