@{
    ViewData["Title"] = "Inline Action Buttons";
}

@section Head {
}

@section ContentHeader {
    <h1>@ViewData["Title"]<small></small></h1>
}

<div class="alert alert-info alert-dismissable alert-dismissible s-sample-info">
    <button type="button" class="close btn-close" data-dismiss="alert" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
    <p>Some inline action buttons to perform actions like delete / view / new order on row they are in.</p>

    <p class="s-sample-sources"><b>Source Files:</b> 
    @Html.BasicSamplesSourceFile("Index.cshtml"), 
    @Html.BasicSamplesSourceFile("InlineActionButtonsPage.tsx")</p>
</div>

<div id="GridDiv"></div>

@Html.ModulePageInit(ESM.InlineActionButtonsPage)