.ui-datepicker-trigger {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 2px;
}

.ui-datepicker-trigger svg {
  width: 16px;
  height: 16px;
}

img.ui-datepicker-trigger {
    width: 16px;
    height: 16px;
}