@* Generator: Template *@
@functions { public dynamic Model { get; set; } }@{var dotModule = Model.Module == null ? "" : ("." + Model.Module);}
@@{
    ViewBag.Title = Serenity.LocalText.Get("Db@(dotModule).@(Model.ClassName).EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new @(Model.RootNamespace)@(dotModule).@(Model.ClassName)Grid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>