@import "serenity.mixins.less";

.s-QuickSearchBar {
    float: left;
    margin: 2px 2px 0 0;
    padding: 0;
    background-color: #fff;
    border-radius: 0 4px 4px 8px;
}

.s-QuickSearchBar input {
    width: 110px;
    font-size: 12px;
    border: none;
    padding: 0 2px 0 4px;
    .border-radius(0);
    line-height: 22px;
    height: 23px;
    .box-shadow(none);
    float: left;
}

.s-QuickSearchBar span {
    display: inline-block;
    width: 36px;
    height: 23px;
    float: left;
    padding: 0 0 0 8px;
    border-radius: 0 0 0 8px;
    background: #578ebe;
}

.s-QuickSearchBar span i {
    display: inline-block;
    width: 22px;
    height: 23px;
    background-image: url(images/sprites.png);
    background-repeat: no-repeat;
    background-position: -214px -93px;
}

.s-QuickSearchBar.s-QuickSearchLoading, .s-QuickSearchBar.s-QuickSearchLoading input {
    cursor: wait;
}

.s-QuickSearchBar.s-QuickSearchFiltered, .s-QuickSearchBar.s-QuickSearchFiltered input {
}

.s-QuickSearchBar a.quick-search-field {
    padding: 0 13px 0 3px;
    background: url(images/down.gif) no-repeat right 5px;
    float: right;
    font-size: 11px;
    height: 23px;
    line-height: 23px;
    cursor: pointer;
    margin-right: 1px;
    color: #578ebe;
}

.s-QuickSearchBar a.quick-search-field:hover {
}