
.s-DataGrid > .grid-title {
    background: url(images/grid-title-bg.gif) repeat-x top; 
    height: 24px;
    border: 1px solid #ccc; 
    border-bottom: 0px; 
    border-top: 0px; 
    font-weight: bold;
    overflow: hidden; 
    white-space: nowrap; 
}

.s-DataGrid > .grid-title .title-text { 
    padding: 5px 6px; 
    white-space: nowrap; 
}

.s-DataGrid div.s-Toolbar { border-radius: 0; }

.s-DataGrid > .grid-container {
    overflow: hidden; 
    height: 200px;
}

.s-DataGrid > .grid-pager {
}

.s-DataGrid .slick-header {
    border-top: 0;
}

.slick-cell > a {
  color: #575790;
  text-decoration: none;
}

.slick-header.ui-state-default {
    border-bottom: 0px;
}

.slick-header-columns, .slick-headerrow-columns {
    border-bottom: 0px;
}


.ui-widget-content .slick-header-column, 
.slick-header-column {
    border-right: 1px solid silver;
    background: transparent url(images/table-header.gif) repeat-x scroll center bottom; color: #000; font-weight: normal;
}

.ui-widget-content .slick-header-column.ui-state-default,
 .slick-header-column.ui-state-default {
    padding: 4px 3px 4px 4px;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #f7f7f7;
}

.slick-header-column:hover, .slick-header-column-active {
    background: white url(images/slick-header-columns-over-bg.gif) repeat-x center bottom;
}

.slick-sort-indicator, .ui-widget-content .slick-sort-indicator {
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 4px;
    float: right;
}

.slick-row {
    line-height: 20px;
}

.slick-row.ui-widget-content, .slick-row.ui-state-active {
    border: 0px;
}

.slick-row.ui-state-active {
    background: #F5F7D7;
}

.slick-row.loading {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.slick-cell, .ui-widget-content .slick-cell {
    border-style: none solid solid none; 
    border-color: transparent #dddddd #dddddd transparent;
    border-width: 1px;
    padding: 1px 4px 2px 4px;
}

.slick-row.ui-state-active {
    background: #F5F7D7;
}

.slick-row.deleted, .ui-widget-content .slick-row-deleted { text-decoration: none !important; }
.slick-viewport, .ui-widget-content .slick-viewport { background-color: #ffffff; }
.ui-widget-content .slick-header-column:hover, .ui-widget-content .slick-header-column-active { background: white url(images/header-columns-over-bg.gif) repeat-x center bottom; }
.s-DataGrid .grid-container { border: 1px solid #cccccc; border-style: none solid solid solid; background: #fff; }