@import "serenity.mixins.less";

.s-QuickSearchBar {
    float: left;
    margin: 2px 1px 0 0;
    padding: 0;
    background-color: transparent;
    border-right: 1px solid #aaa;
}

.s-QuickSearchBar input {
    width: 120px;
    font-size: 13px;
    border: none;
    padding: 0 2px 0 4px;
    .border-radius(0);
    line-height: 23px;
    height: 28px;
    .box-shadow(none);
    float: left;
    border: 1px solid #aaa;
    border-style: solid none solid none;
}

.s-QuickSearchBar span {
    display: inline-block;
    width: 36px;
    height: 28px;
    float: left;
    padding: 0 0 0 8px;
    border-radius: 0 0 0 8px;
    background: #0090d9;
}

.s-QuickSearchBar span i {
    display: inline-block;
    width: 22px;
    height: 28px;
    background-image: url(images/sprites.png);
    background-repeat: no-repeat;
    background-position: -214px -90px;
}

.s-QuickSearchBar.s-QuickSearchLoading, .s-QuickSearchBar.s-QuickSearchLoading input {
    cursor: wait;
}

.s-QuickSearchBar.s-QuickSearchFiltered, .s-QuickSearchBar.s-QuickSearchFiltered input {
}

.s-QuickSearchBar a.quick-search-field {
    padding: 0 13px 0 3px;
    background: #fff url(images/down.gif) no-repeat right 5px;
    float: right;
    font-size: 12px;
    height: 28px;
    line-height: 25px;
    cursor: pointer;
    margin-right: 1px;
    color: #0090d9;
    border: 1px solid #aaa;
    border-radius: 0 4px 4px 0;
    border-style: solid solid solid none;
}

.s-QuickSearchBar a.quick-search-field:hover {
}

.s-QuickSearchBar.has-quick-search-fields {
    border-right: none;
}