.s-CheckTreeEditor.s-DataGrid .grid-container {
    height: 130px;
}

.s-CheckTreeEditor.s-DataGrid .s-TreeIndent {
    float: left;
}

.s-CheckTreeEditor.s-DataGrid .s-TreeToggle {
    float: left;
    display: block;
    width: 11px;
    height: 11px;
    padding: 0;
    background-position: -2px center;
    margin: 5px 0px 0 0;
    background-image: none;
}

.s-CheckTreeEditor.s-DataGrid .s-TreeExpand { background-image: url(images/toggle-small-expand.png); cursor: pointer; }
.s-CheckTreeEditor.s-DataGrid .s-TreeCollapse { background-image: url(images/toggle-small.png); cursor: pointer; }