@import "serenity.mixins.less";

.s-Dialog .ui-dialog-content {
}

.s-Dialog .ui-tabs {
    padding: 0;
    background: transparent;
}

.s-Dialog .ui-tabs .ui-tabs-panel {
    padding: 10px 8px;
}

.s-Dialog .ui-tabs .ui-tabs-nav li a {
    padding: 2px 10px 3px 10px;
}

.s-Dialog .ui-dialog-buttonpane {
    margin: 0px;
    padding: 2px 7px 2px 3px;
}

.s-Dialog .ui-dialog-content {
    padding: 5px 7px 5px 7px;
}

.s-Dialog .tab-pane {
    overflow: hidden;
    background-color: #fff;
}

.s-Dialog .s-DialogToolbar {
    margin: 0 0 8px 0;
}

.s-Dialog .s-DialogToolbar .flexigrid div.flexi-tb {
    border-bottom-style: solid;
}

.s-MessageDialog .message {
    padding: 24px 6px 6px 86px;
    min-height: 80px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: 16px 16px;
    background-color: transparent;
    font-size: 13px;
    font-weight: bold;
    white-space: pre-wrap;
}

.s-AlertDialog .ui-dialog-content {
    .gradient(#c43c35, #ee5f5b, #c43c35);
}

.s-AlertDialog .message {
    background-image: url(images/dialog-alert.png);
}

.s-WarningDialog .ui-dialog-content {
    .gradient(#a4a435, #aaaa5b, #a4a435);
}

.s-WarningDialog .message {
    background-image: url(images/dialog-warning.png);
}

.s-ConfirmDialog .ui-dialog-content {
    .gradient(#353cc4, #5b5fee, #353cc4);
}

.s-ConfirmDialog .message {
    background-image: url(images/dialog-confirm.png);
}

.s-InformationDialog .ui-dialog-content {
    .gradient(#4ba94f, #5ba35f, #4ba94f);
}

.s-InformationDialog .message {
    background-image: url(images/dialog-confirm.png);
}

.s-LocalizationSelect {
    float: right;
    margin: 4px 4px 0 0;
}