/* poppins-regular - latin-ext_latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('poppins-400.woff2') format('woff2'), url('poppins-400.woff') format('woff');
    font-display: swap;
}
/* poppins-500 - latin-ext_latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('poppins-500.woff2') format('woff2'), url('poppins-500.woff') format('woff');
    font-display: swap;
}
/* poppins-600 - latin-ext_latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('poppins-600.woff2') format('woff2'), url('poppins-600.woff') format('woff');
    font-display: swap;
}