<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestDbSettings" value="{ Server : '(localdb)\\test', Provider: 'System.Data.SqlClient', RootPath: 'c:\\.localdbtest' }"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
