<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.7" targetFramework="net45" />
  <package id="FakeItEasy" version="3.4.2" targetFramework="net452" />
  <package id="jQuery" version="3.1.1" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.16.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MsieJavaScriptEngine" version="2.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net45" />
  <package id="Select2.js" version="3.5.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net452" />
  <package id="System.Data.SqlLocalDb" version="1.15.0" targetFramework="net45" />
  <package id="toastr" version="2.1.1" targetFramework="net45" />
  <package id="xunit" version="2.2.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net452" />
  <package id="xunit.assert" version="2.2.0" targetFramework="net452" />
  <package id="xunit.core" version="2.2.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.2.0" targetFramework="net45" developmentDependency="true" />
</packages>