@{
    ViewBag.Title = "Personel";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Marmara.Personel.PersonelGrid($('#GridDiv'), {
        });

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>