# Builds and test 
name: build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  dotnet-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: setup .net
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Nuget package cache
      uses: actions/cache@v3
      id: nuget-package-cache
      env:
        cache-name: nuget-package-cache
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget-

    - name: Restore Dependencies
      run: dotnet restore
      working-directory: "src"

    - name: dotnet build
      run: dotnet build --no-restore
      working-directory: "src"
      continue-on-error: true

    - name: dotnet test
      run: dotnet test --no-build --verbosity normal
      working-directory: "src"

  js-corelib-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: setup node
      uses: actions/setup-node@v3
      with:
        node-version: '18.14.2'

    - name: pnpm install
      uses: ./.github/actions/pnpm-install

    - name: corelib tests
      run: pnpm test
      working-directory: "src/Serenity.Scripts/corelib"
