.nupkg/
.vs/
App_Data/
bin/
obj/
node_modules/
packages/
ProjectTemplates/
TestResults/
**/wwwroot/esm/
*.bak
*.log
*.orig
*.pdb
*.pubxml
*.suo
*.DotSettings*
*.user
.syncache.sqlite
appsettings*.machine.json
Thumbs.db
ErrorLog.db
StyleCop.Cache
UpgradeLog.htm
